body {
  background: #fffbdb;
}

/* Header */

.header {
  display: flex;
  max-height: 128px;
  background: rgba(105, 53, 5, 0.35);
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.header::after {
  content: "";
  background-color: #b99162;
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
}

.header-logo {
  width: 100px;
  height: 100px;
  padding: 5px;
}

.header-nav {
  align-items: center;
}

.header-nav-home {
  margin-right: 24px;
}

.header-nav-pages {
  transition: height 250ms, border-color 250ms linear;
  border-left: 1px solid black;
  padding-left: 32px;
  height: 88px;
  align-items: center;
}

.header-nav-pages:hover {
  transition: height 250ms, border-color 250ms linear;
  border-color: #855200;
  height: 78px;
}

.header-nav,
.header-nav-pages {
  display: flex;
}
/* zxcgvbhjnm */
.header-nav-pages-item-link {
  font-family: Jura;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: #b99162;
  transition: color 500ms linear;
  color: black;
  cursor: pointer;
  position: relative;
}

.header-nav-pages-item-link:hover {
  transition: color 250ms linear;
  color: #fffbdb;
}

.header-nav-pages-item-link::after {
  content: "";
  background-color: #b99162;
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  margin-top: 26px;
  opacity: 0;
}

.header-nav-pages-item-link:hover::after {
  opacity: 1;
  transition: opacity 250ms linear;
}

.header-nav-pages-item:not(:last-child) {
  margin-right: 30px;
}

.header-nav-home,
.header-search {
  width: 34px;
  height: 34px;
  cursor: pointer;
}

/* Main */

/* Section 1 */

.main-section1 {
  padding-top: 32px;
  padding-bottom: 42px;
  background-image: url(../img/section1/background.jpg);
  background-color: rgba(255, 251, 219, 0.6);
  background-blend-mode: lighten;
  background-position: center;
  background-size: 1820px;
  background-repeat: no-repeat;
  position: relative;
}

.main-section1::after {
  content: "";
  background-color: #b99162;
  height: 2px;
  width: 100%;
  bottom: 0;
  display: block;
  position: absolute;
}

h1 {
  max-width: 687px;
  margin-bottom: 30px;
  font-family: Jura;
  font-size: 41px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1:after {
  content: "";
  background-color: #b99162;
  height: 1.7px;
  display: block;
  position: absolute;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  transition: width 500ms, opacity 500ms linear;
  width: 0;
}

h1:hover::after {
  opacity: 1;
  width: 690px;
  transition: width 500ms linear;
}

.main-section1-img {
  margin-bottom: 43px;
  display: flex;
  justify-content: center;
}

.main-section1-img-wrapper {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: center;
}

.main-section1-img-wrapper:hover .main-section1-img-wrapper-text {
  transform: translate(0px, 24px);
  transition: transform 350ms;
}

.main-section1-img-wrapper-item {
  width: 554px;
  margin-left: auto;
  margin-right: auto;
}

.main-section1-img-wrapper-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  transform: translate(0px, 91px);
  transition: transform 350ms linear;
  bottom: 0;
  font-family: Jura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.main-section1-description {
  max-width: 1038px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main-section1-description-item {
  font-family: Neucha;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  list-style: disc;
  cursor: default;
  transition: font-size 300ms linear;
}

.main-section1-description-item:hover {
  color: #725b40;
  font-size: 30px;
  transition: font-size 700ms, color 500ms linear;
}

.main-section1-description-item:not(:last-child) {
  margin-bottom: 50px;
}

.main-section1-description-item::marker {
  color: #b99162;
}

/* Section 2 */

.main-section2 {
  padding-top: 32px;
  padding-bottom: 42px;
  position: relative;
}

.main-section2::after {
  content: "";
  background-color: #b99162;
  height: 2px;
  width: 100%;
  bottom: 0;
  display: block;
  position: absolute;
}

.main-section2-header {
  margin-bottom: 50px;
}

.main-section2-buttons-row1 {
  margin-bottom: 32px;
}

.main-section2-buttons-row1,
.main-section2-buttons-row2 {
  display: flex;
  justify-content: center;
}

.main-section2-buttons-ua,
.main-section2-buttons-eng {
  margin-right: 24px;
}

.main-section2-buttons-item-button {
  font-family: Jura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #b99162;
  color: white;
  cursor: pointer;
  transition: color 250ms, padding-left 250ms, padding-right 250ms,
    font-size 250ms linear;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
}

.main-section2-buttons-item-button:hover {
  color: #693505;
  transition: color 250ms, padding 250ms, font-size 250ms linear;
  padding: 10px 20px 10px 20px;
  font-size: 30px;
}

/* Section 3 */

.main-section3 {
  padding-top: 32px;
  padding-bottom: 42px;
  background-image: url(../img/section3/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 251, 219, 0.6);
  background-blend-mode: lighten;
  position: relative;
  background-size: 1820px;
}
