.nyaarigato {
  overflow: hidden;
  max-width: 1000px;
  position: relative;
}

.prostinya {
  display: flex;
}

.carousel {
}

#left {
  transform: rotate(180deg);
}

.arrows {
  position: absolute;
  top: 0px;
  margin-top: calc(281px - 60px / 2);
  z-index: 99;
  margin-left: 10px;
}

.arrow-left,
.arrow-right {
  width: 60px;
  height: 60px;
  /* transform: translateY(calc(-281px + 60px / 2)); */
}

.arrow-right {
  margin-left: 860px;
  margin-right: 10px;
}

.balls {
  list-style: none;
  display: flex;
  position: absolute;
  justify-content: center;
  margin: 0;
  padding: 0;
  bottom: 10px;
  left: calc(50% - (70px / 2));
}

.ball {
  content: "";
  background-color: #fffbdb;
  border-radius: 50%;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
  transition: background-color 500ms ease;
}

.ball:not(:last-child) {
  margin-right: 5px;
}

.active-ball {
  background-color: #b99162;
  transition: background-color 500ms ease;
}
